body {
	background-color: #f5f5f5;
	font-family: sans-serif;
}

h1, h2 {
	margin-bottom: 12px;
	text-align: center;
}

a, a:active {
	text-decoration: none;
	color: #0000ff;
}

a:visited {
	color: #48468F;
}

a:hover, a:focus {
	text-decoration: underline;
	color: #ff0000;
}

div.content {
	background-color: #ffffff;
	border: 1px solid #646464;
	padding: 10px 10px 14px 10px;
	text-align: center;
	border-radius: 4px;
	margin-left: 25%;
	margin-right: 25%;
}

div.footer {
	text-align: center;
	font: 90% monospace; 
	color: #787878;
	padding-top: 4px;
}

p.message {
	border: 1px solid #d9d3b5;
	background-color: #fcf5d2;
	border-radius: 4px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, .24);
}

ul.adm-menu {
	list-style-type: none;	
	font: 90% monospace; 
	margin: 0px;
	padding: 0px;
}

ul.adm-menu li {
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
}

.dhd {
	background-color: #b2b2b2;
	font-family: monospace;
}
